@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');

body{
  font-family: 'Maven Pro', sans-serif !important;
	background-color: #cdf3ff34 !important;
}
.main{
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	width: fit-content;
}
.title{
  color: #000;
	font-weight: 600;
	text-transform: uppercase;
}

/* Efeito de máquina de escrever no título */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(40, end),
    blink-caret .55s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0); }
}

